* {
    font-size: 10px;
    /* rem size is relative to this number */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* these 2 remove default margin and padding */
}   
.container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:1rem auto;
    align-items: center;
}
.card{
    width: 27%;
    /* vw = percent of the screen */
    height: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:1.5rem 0rem;
    border-radius:50px;
    background-color: rgba(255,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom:25rem;
    transition: 0.3s ease-in-out;
    perspective:5ch;
    border-color:aqua;
    padding:25px;
}
.card:hover{
    background-color: rgba(255,0,0,1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8)
}

.card-image{
    width:55%;
    height: 55%;
    border-radius:5px;
}
.card-title,.card-text{
    font-size:25px;
}
.heading{
    font-size:50px;
    font-weight: 300;
    text-align: center;
}